@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap');
@media(max-width:670px){
  body #selection {
    display: inline;
    text-align: left
  }  
}
#map {
  width: 100%;
  height: 100%;
  margin: 0% auto
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

#listing {
  position: absolute;
  width: 67px;
  height: 60%;
  right: 3%;
  top: 15vh;
  cursor: pointer;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  transition-delay: 2s
}

#listing:hover {
  width: 315px;
  border-left: none;
  transition: all 0.5s ease-in-out;
}

ul {
  margin: 0%;
  padding: 0%
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  color: #FFF;
  font-weight: 700;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 15px;
}

#results {
  border-collapse: collapse;
  width: 300px;
}

#selection {
  display: flex;
  position: absolute;
  left: 1%;
  top: 10px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
  border-radius: 8px;
}

#distance {
  margin: 0;
  width: 40px;
  text-align: right
  /* position: absolute; */
}

.none {
  display: none
}